<!--
  ~ Copyright OpenSearch Contributors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n%throwable
                </Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Set SLF4J logger to debug -->
        <Logger name="org.slf4j" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Set jvector logger to debug -->
        <Logger name="io.github.jbellis.jvector" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>